body {
    background-image: url(../images/back.jpg) !important;
    background-position: top !important;
    background-repeat: repeat-y !important;
    background-size: 1170px !important;
}

footer {
    margin-top: 150px;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    text-align: center;
}

#mail_us {
    margin-top: 100px;
    margin:0 auto;
    width: 1100px;
    border-style: groove;
    border-width: 5px;
    border-color: #e5ded1;
    border-radius: 100px;


    background-color:rgb(178, 215, 235)
}


#name {
    display: inline;
    width: 500px;
    height: 30px;
    font-size: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
    }

#email {
    display: inline;
    margin-bottom: 1.5em;
    width: 500px;
    height: 30px;
    font-size: 1em;
}

#mesage {
    width: 900px;
    height: 200px;
    font-size: 1em;
    border-radius: 10px;
}

#send {
    height: 80px;
    width: 400px;
    margin-bottom: 50px;
    font-size: 2em;
    border-radius: 50px;
    color: black;
    background-color: #16d664
}
