html {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: black;
}

#info {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.posada {
    margin: 0 auto;
}

.container {
    text-align: center;
}

#formu,
#napriamku {
    display: flex;
    justify-content: center;
}

 
figure {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

figcaption {
    max-width: 400px;
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.fig {
    text-align: center;
}

#map {
    justify-content: space-around;
    margin: 0 auto;
    width: 900px;
    height: 350px;
}

#skype,
#fb_icon {
    margin: o auto;
    width: 100px;
    height: 100px;
}

#skype + #fb_icon {
    margin: 10px;
    align-items: center;
}

#contacts {
    height: 75px;
    max-width: 200px;
    margin-left: 350px;
    color: black;
    margin: 0 auto;
}

#in_web, #phone {
    display: flex;
    justify-content: center;
}