html {
	width: 946px;
	background: url(/images/back.jpg) repeat-y;
    background-size: 100%;
}

ul {
position: fixed;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top:0;
  font-size:25px;
}
a {
  text-decoration: none;
  padding:10px;
}
a:hover {
  background:#1C85BB;
}
li {
  margin-right:5px;
  display: inline;
}

body {
    margin-top:50px;
    width: 946px;
}

#map {
    margin-right: 100px;
    width: 27%;
    height: 270px;
}

#footer {
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#fb_icon {
    height: 100px;
    width: 100px;
}

#vk_icon {
    height: 100px;
    width: 100px;
}

#logo {
    opacity: 0.5;
    width: 946px;
}